{% extends 'base.html' %}

{% block content %}

<div class="container manage-categories">
    <!-- if the type of meal or cuisine already exist we will display a message -->
    <div class="row">
        <div class="col s12">
            {% with messages = get_flashed_messages() %} 
                {% if messages %}
                    {% for message in messages %}
                        <p class="error_message">{{ message }}</p>
                    {% endfor %}
                {% endif %} 
            {% endwith %}
        </div>
    </div>

    <div class="row">
        <!-- type of meals -->
        <div class="col s12 m12 l5 center-align">

            <!-- add new type of meal - Materialize form-->
            <form action="{{url_for('insert_category')}}" method="POST" class="add_category_cuisine">
                <h6 class="left-align">Add Type of meal</h6>
                <div class="row">
                    <div class="col s9 input-field">
                        <input placeholder="Category" id="category" name="category" type="text" class="validate" required="">
                    </div>
                    <div class="col s3 right-align">
                        <button class="btn waves-effect waves-light blue" type="submit" name="action">
                            <i class="material-icons">add_box</i>
                        </button>
                    </div>
                </div>
            </form>

            <!-- type of meals that already exist in the app -->
            <h5>Types of meal</h5>
            <!-- Materialize table -->
            <table class=" striped centered">
                <thead>
                    <tr>
                        <th>Type of meal</th>
                        <th>Recipes</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                        <tr>
                            <td>{{category.category}}</td>
                            <td>{{category.count_recipes_category}}</td>
                            <!-- we can only delete categories with 0 recipes -->
                            <td>
                                {% if category.count_recipes_category == 0%}
                                    <a href="#modal_delete_category"
                                        class="btn waves-effect waves-light red right-align modal-trigger">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                    <!-- Modal Structure from Materilize-->
                                    <div id="modal_delete_category" class="modal">
                                        <div class="modal-content">
                                            <p>Are you sure you want to remove <strong>{{category.category}}</strong>?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="#" class="modal-action modal-close waves-effect waves-green btn">No</a>
                                            <a href="{{url_for('delete_category', category_id=category.category_id)}}"  class="modal-action modal-close waves-effect waves-green btn">Yes</a>
                                        </div>
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <!-- cuisines -->
        <div class="col s12 m12 offset-l2 l5 center-align">
            <!-- add new cuisine -->
            <form action="{{url_for('insert_cuisine')}}" method="POST" class="add_category_cuisine">
                <h6 class="left-align">Add Cuisine</h6>
                <div class="row">
                    <div class="col s9 input-field">
                        <input placeholder="Cuisine" id="cuisine" name="cuisine" type="text" class="validate" required="">
                    </div>
                    <div class="col s3 right-align">
                        <button class="btn waves-effect waves-light blue" type="submit" name="action">
                            <i class="material-icons">add_box</i>
                        </button>
                    </div>
                </div>
            </form>

            <!-- cuisines that already exist -->
            <h5>Cuisines</h5>
            <!-- Materialize table -->
            <table class="striped centered">
                <thead>
                    <tr>
                        <th>Cuisines</th>
                        <th>Recipes</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for cuisine in cuisines %}
                        <tr>
                            <td>{{cuisine.cuisine}}</td>
                            <td>{{cuisine.count_recipes_cuisine}}</td>
                            <!-- we can only delete cuisines with 0 recipes -->
                            <td>
                                {% if cuisine.count_recipes_cuisine == 0 %}
                                    <a href="#modal_delete_cuisine" class="btn waves-effect waves-light red modal-trigger">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                    <!-- Modal Structure from Materilize-->
                                    <div id="modal_delete_cuisine" class="modal">
                                        <div class="modal-content">
                                            <p>Are you sure you want to remove <strong>{{cuisine.cuisine}}</strong> cuisine?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="#" class="modal-action modal-close waves-effect waves-green btn">No</a>
                                            <a href="{{url_for('delete_cuisine', cuisine_id=cuisine.cuisine_id)}}" class="modal-action modal-close waves-effect waves-green btn">Yes</a>
                                        </div>
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}