{% extends 'base.html' %}

{% block content %}

<div class="container tips">
    <div class="row">
        <div class="col s12">
            <h4>How to use Time2eat</h4>
        </div>
    </div>
    <div class="row">
        <div class="col m1 l1 hide-on-small-only">
            <i class="material-icons ">home</i>
        </div>
        <div class="col offset-m2 m9 offset-l1 l10">
            <h5>View recipes</h5>
            <p>On the home page you can view all the recipes. They are sorted by the number of votes and number of
                views, with the most
                voted being placed on the top of the carousel of images. They are sorted on descending order if you move
                to the right, and on ascending order if you move to left.</p>
            <p>Below the carousel you can find the filter section where you can filter the recipes based on different
                criteria (i.e. you could filter only by cuisine or you could filter by cuisine, type of meal, allergens
                to exclude, and difficulty).</p>
            <p>On the top right hand side there is a search input box. You can use this input box to look for certain
                ingredients, authors, name of recipes, allergens, levels of difficulty, cuisines or types of meals.</p>
        </div>
    </div>
    <div class="row">
        <div class="col m1 l1 hide-on-small-only">
            <i class="material-icons">trending_up</i>
        </div>
        <div class="col offset-m2 m9 offset-l1 l10">
            <h5>Recipes dashboard</h5>
            <p>In this section you can have an overview of the recipes included in the app. You can see the number of
                recipes split by different criteria and also a summary table with some more details.</p>
            <p>Also in this section you can see the top 10 rated authors.</p>
        </div>
    </div>
    <div class="row">
        <div class="col m1 l1 hide-on-small-only">
            <i class="material-icons">settings</i>
        </div>
        <div class="col offset-m2 m9 offset-l1 l10">
            <h5>Manage type of meal / cuisines</h5>
            <p>In this section you can see all the type of meals and cuisines that already exist in the app.</p>
            <p>If you are planning to add recipes and the type of meal or cuisine is not included in the list make sure
                you add it before starting adding a new recipe.</p>
        </div>
    </div>
    <div class="row">
        <div class="col m1 l1 hide-on-small-only">
            <i class="material-icons">add_box</i>
        </div>
        <div class="col offset-m2 m9 offset-l1 l10">
            <h5>Add recipe</h5>
            <p>Use this section to add your recipes.</p>
            <p class="note">* Recipes with pictures generally receive more votes so we recommend adding an image. If you
                don't upload an image we will add a standard picture to your recipe.</p>
        </div>
    </div>
</div>




{% endblock %}